@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin Sans Bold";
  src: url("../../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Helvetica Now Display Regular";
  src: url(../../assets/fonts/Helvetica_Now_Display/HelveticaNowDisplay-Regular.ttf);
}
@font-face {
  font-family: "Shadows";
  src: url(../../assets/fonts/ShadowsIntoLight-Regular.ttf);
}
@font-face {
  font-family: "FiraSansExtraCondensed";
  src: url(../../assets/fonts/FiraSansExtra/FiraSansExtraCondensed-Bold.ttf);
}
@font-face {
  font-family: "FiraSansExtraCondensedLight";
  src: url(../../assets/fonts/FiraSansExtra/FiraSansExtraCondensed-ExtraLight.ttf);
}

.flexCenter {
  @apply flex justify-center items-center font-helvetica;
}
.BaseFont {
  @apply font-bold text-xl;
}
.greyText {
  @apply text-[#939090] font-josefin_bold;
}
.bigText {
  @apply text-6xl font-firaSans;
}
.borderButton {
  @apply border border-slate-700 cursor-pointer bg-none py-3 px-7 w-[30%] font-firaSans hover:bg-purple-500 duration-100  transition  ease-in-out;
}
.button {
  @apply bg-purple-500 py-3 px-7 text-white font-firaSans hover:bg-white;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html::-webkit-scrollbar {
  width: 0.2rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5rem;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 75%;
  margin: 0 auto;
}
nav {
  position: relative;
}

.unOrderList::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s;
  position: absolute;
  bottom: 2px;
}

.listing .unOrderList:hover::after {
  width: 100%;
  transition: width 0.5s;
  /* background-color: red; */
}
.unOrderList:hover {
  transform: scale(0.9);
  color: var(--main-color);
}
section {
  margin: 50px 0;
}

.ourImagination {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.colorLight {
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}
