@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin Sans Bold";
  src: url("../../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Josefin Sans Regular";
  src: url(../../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "Helvetica Now Display Regular";
  src: url(../../assets/fonts/Helvetica_Now_Display/HelveticaNowDisplay-Regular.ttf);
}
@font-face {
  font-family: "Shadows";
  src: url(../../assets/fonts/ShadowsIntoLight-Regular.ttf);
}
@font-face {
  font-family: "FiraSansExtraCondensed";
  src: url(../../assets/fonts/FiraSansExtra/FiraSansExtraCondensed-Bold.ttf);
}
@font-face {
  font-family: "FiraSansExtraCondensedLight";
  src: url(../../assets/fonts/FiraSansExtra/FiraSansExtraCondensed-ExtraLight.ttf);
}

.flexCenter {
  @apply flex justify-center items-center font-helvetica;
}
.BaseFont {
  @apply font-bold text-xl;
}
.greyText {
  @apply text-[#939090] font-josefin_bold;
}
.bigText {
  @apply text-6xl font-firaSans;
}
.bigTinyText {
  @apply text-6xl font-firaSansLight;
}
.borderButton {
  @apply border border-slate-700 cursor-pointer bg-none py-3 px-7 w-40 font-firaSans hover:bg-purple-500 duration-100  transition  ease-in-out;
}
.button {
  @apply bg-purple-500 py-3 px-7 text-white font-firaSans hover:bg-white;
}
.transitioning {
  @apply transition ease-in-out;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  transition: 0.2s linear;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.2rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5rem;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
nav {
  position: relative;
}

/* .unOrderList::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s;
  position: absolute;
  bottom: 2px;
} */
/* 
.listing .unOrderList:hover::after {
  width: 100%;
  transition: width 0.5s;
} */
.unOrderList:hover {
  transform: scale(0.9);
  color: var(--main-color);
}
section {
  margin: 30px 0;
}

.ourImagination {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.colorLight {
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}

.video-container {
  overflow: hidden;
  width: 100%;
}

.no-scrollbar-white::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.no-scrollbar-white::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.no-scrollbar-white::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 3px solid #f2f2f2;
}

.no-scrollbar-white::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Define styles for desktop view */
.desktop-view {
  /* Set width to 1200px */
  width: 1200px;
  /* Center align content horizontally */
  margin-left: auto;
  margin-right: auto;
}

/* hand aninated */

/* Example CSS code for tutorial-content and tutorial-hand elements */
.tutorial-content {
  /* Add your styles for tutorial-content element here */
}

.tutorial-hand {
  /* Add your styles for tutorial-hand element here */
}

/* Add the animate-bounce class for bouncing animation effect */
.animate-bounce {
  animation-name: bounce;
  animation-duration: 1s; /* Adjust duration as needed */
  animation-timing-function: ease-in-out; /* Adjust timing function as needed */
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Adjust vertical distance of bounce */
  }
  60% {
    transform: translateY(-5px); /* Adjust vertical distance of bounce */
  }
}
